In [2]:
# -> Î∂ìÍΩÉ Îç∞Ïù¥ÌÑ∞ Î≥µÏäµ
#csv ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
df = pd.read_csv("C:/Users/Minseok/AI_CLASS/iris.csv")
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [3]:
#Î∂ìÍΩÉ Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°Ïπò ÌôïÏù∏ÌïòÍ∏∞ 
df.isnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64

In [4]:
#Í≤∞Ï∏°Ïπò Ï†úÍ±∞
df.dropna()
#Î∂ìÍΩÉ Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°ÏπòÍ∞Ä ÏóÜÏúºÎØÄÎ°ú Ï†Ñ/ÌõÑ Í∞ôÏùå 
df.isnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64

In [9]:
#Îç∞Ïù¥ÌÑ∞ ÏÖã Íµ¨Î∂Ñ
X = df.drop('Name', axis = 1)
X.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [12]:
# Î¨∏ÏûêÏó¥ ÎùºÎ≤®ÏùÑ Ïà´ÏûêÎ°ú Î≥ÄÌôò
from sklearn.preprocessing import LabelEncoder 
label_encoder = LabelEncoder()
y = df['Name']
y = label_encoder.fit_transform(y)

In [14]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [15]:
#ÌõàÎ†® Îç∞Ïù¥ÌÑ∞ ÏÖã, ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÏÖã Î∂ÑÎ¶¨
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [17]:
# Î™®Îç∏ Ï¥àÍ∏∞Ìôî
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
models = {
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(random_state=42),
    "SVM": SVC(random_state=42),
    "Logistic Regression": LogisticRegression(max_iter=200)
}

# Í∞Å Î™®Îç∏ ÌïôÏäµ Î∞è ÌèâÍ∞Ä
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    results[name] = accuracy

# Í≤∞Í≥º Ï∂úÎ†•
results

{'Decision Tree': 1.0,
 'Random Forest': 1.0,
 'SVM': 1.0,
 'Logistic Regression': 1.0}

In [18]:
# ÌÉÄÏù¥ÌÉÄÎãâ Îç∞Ïù¥ÌÑ∞ Î≥µÏäµ 
df2 = pd.read_csv("c:/Users/Minseok/AI_CLASS/titanic.csv")
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
#Í≤∞Ï∏°Ïπò Í∞úÏàò ÌôïÏù∏
df2.isnull().sum()
# -> age, cabin, Embarked

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [24]:
#Í≤∞Ï∏°Ïπò ageÎäî ÌèâÍ∑†ÏúºÎ°ú Ï±ÑÏö∞Í≥† ÎÇòÎ®∏ÏßÄÎäî Ï†úÍ±∞
df2['Age'].fillna(df2['Age'].mean(), inplace = True) #Age ÌèâÍ∑†ÏúºÎ°ú ÎåÄÏ≤¥
df2.dropna(inplace = True) #ÎÇòÎ®∏ÏßÄ Í≤∞Ï∏°Ïπò Ï†úÍ±∞
df2.isnull().sum() #ÌôïÏù∏ÌïòÍ∏∞

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [33]:
#Î∂àÌïÑÏöîÌïú Column drop
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], inplace=True)
df.head()

    Survived  Pclass     Sex   Age  SibSp  Parch     Fare
1          1       1  female  38.0      1      0  71.2833
3          1       1  female  35.0      1      0  53.1000
6          0       1    male  54.0      0      0  51.8625
10         1       3  female   4.0      1      1  16.7000
11         1       1  female  58.0      0      0  26.5500

In [40]:
from sklearn.preprocessing import LabelEncoder 
label_encoders = {}  # Í∞Å Ïª¨ÎüºÎ≥Ñ LabelEncoder Ï†ÄÏû•Ïö©
for col in df2.select_dtypes(include=['object']).columns:  # Î¨∏ÏûêÏó¥ Îç∞Ïù¥ÌÑ∞Îßå Î≥ÄÌôò
    le = LabelEncoder()
    df2[col] = le.fit_transform(df2[col])
    label_encoders[col] = le  # Ïù∏ÏΩîÎçî Ï†ÄÏû•

print("\nüîÑ [Î≥ÄÌôò ÌõÑ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏]")
print(df2.head())  # Î≥ÄÌôò ÌõÑ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

üîÑ [Î≥ÄÌôò ÌõÑ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏]
    Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1          1       1    0  38.0      1      0  71.2833
3          1       1    0  35.0      1      0  53.1000
6          0       1    1  54.0      0      0  51.8625
10         1       3    0   4.0      1      1  16.7000
11         1       1    0  58.0      0      0  26.5500

In [41]:
#Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï† 
from sklearn.model_selection import train_test_split
X = df2.drop(columns = ["Survived"])
y = df2['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)

In [42]:
# 5Í∞ÄÏßÄ Î®∏Ïã†Îü¨Îãù Î™®Îç∏ Ï†ÅÏö©
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "SVM": SVC(kernel="linear"),
    "KNN": KNeighborsClassifier(n_neighbors=5)
}

for name, model in models.items():
    print(f"\nüèÜ [{name}]")
    
    # Î™®Îç∏ ÌïôÏäµ
    model.fit(X_train, y_train)
    
    # ÏòàÏ∏°
    y_pred = model.predict(X_test)
    
    # ÏÑ±Îä• ÌèâÍ∞Ä
    acc = accuracy_score(y_test, y_pred)
    print(f"‚úÖ Ï†ïÌôïÎèÑ: {acc:.4f}")
    print(classification_report(y_test, y_pred))

üèÜ [Logistic Regression]
‚úÖ Ï†ïÌôïÎèÑ: 0.7073
              precision    recall  f1-score   support

           0       0.58      0.50      0.54        14
           1       0.76      0.81      0.79        27

    accuracy                           0.71        41
   macro avg       0.67      0.66      0.66        41
weighted avg       0.70      0.71      0.70        41


üèÜ [Decision Tree]
‚úÖ Ï†ïÌôïÎèÑ: 0.8049
              precision    recall  f1-score   support

           0       0.71      0.71      0.71        14
           1       0.85      0.85      0.85        27

    accuracy                           0.80        41
   macro avg       0.78      0.78      0.78        41
weighted avg       0.80      0.80      0.80        41


üèÜ [Random Forest]
‚úÖ Ï†ïÌôïÎèÑ: 0.8049
              precision    recall  f1-score   support

           0       0.71      0.71      0.71        14
           1       0.85      0.85      0.85        27

    accuracy                           0.80        41
   macro avg       0.78      0.78      0.78        41
weighted avg       0.80      0.80      0.80        41


üèÜ [SVM]
‚úÖ Ï†ïÌôïÎèÑ: 0.6829
              precision    recall  f1-score   support

           0       0.53      0.71      0.61        14
           1       0.82      0.67      0.73        27

    accuracy                           0.68        41
   macro avg       0.67      0.69      0.67        41
weighted avg       0.72      0.68      0.69        41


üèÜ [KNN]
‚úÖ Ï†ïÌôïÎèÑ: 0.6341
              precision    recall  f1-score   support

           0       0.44      0.29      0.35        14
           1       0.69      0.81      0.75        27

    accuracy                           0.63        41
   macro avg       0.57      0.55      0.55        41
weighted avg       0.60      0.63      0.61        41

In [43]:
#linear regression
#ÏßÄÎèÑ ÌïôÏäµ -> regression, classification
# regression : Ïó∞ÏÜçÏ†ÅÏù∏ Í∞íÏùÑ ÏòàÏ∏°
# classification : ÏûÖÎ†•ÏùÑ Ïñ¥Îñ§ Ïπ¥ÌÖåÍ≥†Î¶¨ Ï§ëÏùò ÌïòÎÇòÎ°ú ÏòàÏ∏°ÌïúÎã§. 
#f(x) = wx + b -> weight : Í∞ÄÏ§ëÏπò, bias : Ìé∏Ìñ•
#ÏÑ†Ìòï ÌöåÍ∑Ä ÏïåÍ≥†Î¶¨Ï¶òÏùÄ Ïó¨Îü¨ Îç∞Ïù¥ÌÑ∞ ÏöîÏÜåÏóê ÏßÅÏÑ†ÏùÑ ÎßûÏ∂îÏñ¥ Î≥∏ ÌõÑÏóê Í∞ÄÏû• Ïò§Î•òÎ•º ÏûëÍ≤å Î∞úÏÉùÏãúÌÇ§Îäî ÏßÅÏÑ†ÏùÑ Î∞òÌôòÌïúÎã§.
#Ïñ¥Îñ§ ÏßÅÏÑ†Ïù¥ Ïö∞Î¶¨Í∞Ä Ï†úÍ≥µÌïú Îç∞Ïù¥ÌÑ∞ÏôÄ Ïûò ÎßûÎäîÏßÄ Ïïå Ïàò ÏûàÎäîÍ∞Ä -> Ïã§Ï†ú Îç∞Ïù¥ÌÑ∞ÏôÄ ÏßÅÏÑ†Í∞ÑÏùò Í∞ÑÍ≤©ÏùÑ Î≥¥Î©¥ Ïïå Ïàò ÏûàÏùå.
#Í∞ÑÍ≤©Ïùò Ï†úÍ≥±ÏùÑ Î™®Îì† Ìï©Ìïú Í∞íÏùÑ ÏÜêÏã§ Ìï®Ïàò(loss), ÎπÑÏö©(cost) Ìï®ÏàòÎùºÍ≥† ÌïúÎã§.
#loss()Ìï®ÏàòÎ•º ÏµúÏÜåÎ°ú ÌïòÎäî wÏôÄbÎ•º Í≥ÑÏÇ∞
#Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÌÇ®Îã§Îäî Í≤ÉÏùÄ Îã®ÏàúÌûà ÎßêÌïòÏûêÎ©¥ ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î°úÎ∂ÄÌÑ∞ ÏÜêÏã§ÏùÑ ÏµúÏÜåÌôîÌïòÎäî WÏôÄbÎ•º ÌïôÏäµÌïòÎäî Í≤ÉÏù¥Îã§. 
#Î≥ÄÏàòÍ∞Ä ÌïòÎÇòÏù∏ ÏÑ†Ìòï ÌöåÍ∑ÄÎäî ÏâΩÍ≤å Î∂ÑÏÑùÏ†ÅÏù∏ Î∞©Î≤ïÏúºÎ°ú ÏßÅÏÑ†ÏùÑ Ï∞æÏùÑ Ïàò ÏûàÏßÄÎßå, Î≥ÄÏàòÍ∞Ä Ïó¨Îü¨ Í∞úÍ∞Ä ÎêòÎ©¥ ÌöåÍ∑ÄÏóêÏÑúÎèÑ ÏùºÎ∞òÏ†ÅÏù∏ Î∞©Î≤ïÏùÑ ÏÇ¨Ïö©Ìï¥Ïïº ÌïúÎã§. 
#ÏùºÎ∞òÏ†ÅÏù∏ Î∞©Î≤ï -> Í≤ΩÏÇ¨ ÌïòÍ∞ïÎ≤ï : ÌòÑÏû¨ ÏúÑÏπòÏóêÏÑú Í≤ΩÏÇ¨Î•º Ïù¥Ïö©ÌïòÏó¨ Î∞©Ìñ•ÏùÑ Ïû°Îäî Í≤É. 
#ÏÜêÏã§ÏùÑ Ï§ÑÏù¥Í∏∞ ÏúÑÌï¥ÏÑúÎäî ÌòÑÏû¨Ïùò ÏúÑÏπòÏóêÏÑú ÏÜêÏã§ Ìï®ÏàòÏùò Í∏∞Ïö∏Í∏∞Î•º Í≥ÑÏÇ∞ÌïòÏó¨ÏÑú Í∏∞Ïö∏Í∏∞Ïùò Î∞òÎåÄ Î∞©Ìñ•ÏúºÎ°ú ÏõÄÏßÅÏù¥Î©¥ ÎêúÎã§. 
#Ïñ¥Îñ§ ÏßÄÏ†êÏóêÏÑú ÏÜêÏã§ Ìï®ÏàòÏùò Í∏∞Ïö∏Í∏∞ Í≥ÑÏÇ∞. Í∏∞Ïö∏Í∏∞Ïùò Î∞òÎåÄ Î∞©Ìñ•ÏúºÎ°ú Îß§Í∞ú Î≥ÄÏàòÎ•º ÏóÖÎç∞Ïù¥Ìä∏ÌïúÎã§. 
#ÏñºÎßàÎßåÌÅº Ïù¥Îèô? -> ÌïôÏäµÎ•†Ïóê Îî∞Îùº Îã¨ÎùºÏßÑÎã§.
#ÌïôÏäµÎ•†Ïù¥ ÎÑàÎ¨¥ ÏûëÏïÑÎèÑ ÏïàÎêòÍ≥†, ÌïôÏäµÎ•†Ïù¥ ÎÑàÎ¨¥ Ïª§ÎèÑ ÏïàÎê®.

In [ ]:
#ÏÑ†ÌòïÌöåÍ∑ÄÏóêÏÑú Í≤ΩÏÇ¨ ÌïòÍ∞ïÎ≤ï Íµ¨ÌòÑ(PYTHON)
import numpy as np
import matplotlib.pyplot as plt

X = np.array([0.0, 1.0, 2.0])
y = np.array([3.0, 3.5, 5.5])

w = 0
b = 0

lrate = 0.01
epochs = 1000

n = float(len(X))

for i in range(epochs):
    y_pred = w*X + b
    dw = (2/n) * sum(X * (y_pred-y))
    db = (2/n) * sum(y_pred-y))
    w = w-lrate * dw
    b = b-lrate * db

print(w, b)

y_pred = w*x + b

plt.scatter(X, y)

plt.plot([min(X), max(X)], [min(y_pred), max(y_pred)], color='red')
plt.show()